{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <header>
        <h1>KHADIJA BAHI</h1>
    
    </header>

    <main class="container-fluid p-5">

        <div class="row">
            <div class="col-12">
                <h2>Mes Projets</h2>
            </div>
        </div>

        <div class="row"
              
         </div>

        <div class="row">
            <div class="col-12 text-center pt-5">
                <a href="#" class="btn btn-secondary">Voir tout</a>
            </div>
        </div>

    </main>


{% endblock %}
